// .sidenav-container {
//     margin: 0;
//     padding: 0;
//     z-index: 10;
//     position: static;
//     border: 2px solid red;
//     background-color: purple;
// }

.mat-drawer-container {
    // position: static;
    background-color: transparent;
    height: calc(100vh - 60px);
    overflow: auto;
}

// .sidenav {
//     width: 320px;
//     padding-top: 60px;
//     z-index: 30;
//     border: none;
//     background-color: rgb(247, 255, 255, 0.3);
//     // background-color: transparent;
// }
.mat-drawer.mat-sidenav {
    position: fixed;
    top: 60px !important;
    width: 320px;
    background-color: rgb(247, 255, 255, 0.3);
}

.sidenav .sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.divider {
    margin: 10px 20px;
}

// .main-content {
//     // background-color: rgb(247, 255, 255);
//     background-color: transparent !important;
//     z-index: 20;
//     padding-top: 60px;
//     padding: 10px;
//     overflow: hidden !important;
// }

.mat-drawer-content {
    // position: fixed;
    height: 100%;
    background-color: transparent;
    // overflow: hidden;
}

button[mat-icon-button] {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.list-span {
    margin: 0 10px;
}

.sidenav-title {
    padding: 16px;
}