<!-- Main menu -->
<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/profile/'+loggedInUser.id">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button mat-menu-item aria-hidden="false" (click)="handleLogoutClick()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>

<mat-toolbar class="toolbar">
    <nav>
        <div class="nav-content-left">
            <button *ngIf="isHandset$ | async" mat-icon-button aria-label="Sidenav toggle button"
                (click)="toggleSidenav()" style="background-color: rgba(0,0,0,0.12);">
                <mat-icon>menu</mat-icon>
            </button>
            <a href="/" *ngIf="!(isHandset$ | async)">Fakebook</a>
        </div>
        <div mat-tab-nav-bar *ngIf="!(isMobile$ | async)" class="nav-content-center">
            <a mat-tab-link routerLink="/" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive"
                matTooltip="Home">
                <mat-icon>home</mat-icon>
            </a>
            <a mat-tab-link routerLink="#" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive"
                matTooltip="Groups" disabled>
                <mat-icon><i class="fa-solid fa-people-group"></i></mat-icon>
            </a>
            <a mat-tab-link routerLink="#" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive"
                matTooltip="Reels" disabled>
                <mat-icon>live_tv</mat-icon>
            </a>
            <a mat-tab-link routerLink="#" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive"
                matTooltip="Marketplace" disabled>
                <mat-icon><i class="fa-solid fa-store"></i></mat-icon>
            </a>
        </div>
        <div class="nav-content-right">
            <button mat-icon-button type="button" matBadge="6" matBadgeColor="warn" matBadgeSize="small"
                matTooltip="Chats" style="background-color: rgba(0,0,0,0.12); margin: 0 10px;">
                <mat-icon style="margin-bottom: 6px;">
                    <i class="fa-brands fa-facebook-messenger"></i>
                </mat-icon>
            </button>
            <button [matMenuTriggerFor]="menu" matTooltip="Menu" class="avatar user-avatar menu-show-button">
            </button>
        </div>
    </nav>
</mat-toolbar>