.placeholder {
    margin: 10px 0;
    cursor: wait;
    -webkit-animation: pulse 2s infinite ease-in-out;
    animation: pulse 2s infinite ease-in-out;
}

@-webkit-keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.2);
    }

    50% {
        background-color: rgba(165, 165, 165, 0.6);
    }

    100% {
        background-color: rgba(165, 165, 165, 0.2);
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.2);
    }

    50% {
        background-color: rgba(165, 165, 165, 0.6);
    }

    100% {
        background-color: rgba(165, 165, 165, 0.2);
    }
}