<div class="sidenav-content">
    <mat-nav-list>
        <a mat-list-item matTooltip="Profile" [routerLink]="'/profile/'+loggedInUser.id">
            <img mat-list-avatar src="../../../assets/images/man.svg" alt="user avatar" class="user-profile-link">
            <span class="list-span"><strong>{{loggedInUser.name}}</strong></span>
        </a>
        <a mat-list-item routerLink="/users">
            <mat-icon mat-list-icon>people</mat-icon>
            <span class="list-span">Users</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon mat-list-icon>access_time</mat-icon>
            <span class="list-span">Memories</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon mat-list-icon>bookmark</mat-icon>
            <span class="list-span">Saved</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon mat-list-icon>tv_icon</mat-icon>
            <span class="list-span">Videos</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon mat-list-icon>photo_library</mat-icon>
            <span class="list-span">Albums</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon mat-list-icon>flag</mat-icon>
            <span class="list-span">Pages</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon mat-list-icon>videogame_asset</mat-icon>
            <span class="list-span">Play games</span>
        </a>
        <a mat-list-item href="#">
            <mat-icon mat-list-icon>payment</mat-icon>
            <span class="list-span">Orders and payments</span>
        </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <div class="sidenav-title">
        <h2>Other content</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias enim recusandae
            illo laboriosam
            corrupti mollitia repudiandae? Cumque et nostrum molestias cupiditate voluptatem
            sapiente accusamus
            quisquam sed obcaecati eaque reiciendis culpa esse dolores fugiat ea, similique
            quas, deserunt
            consectetur voluptatum dolorem iste! Quidem reprehenderit soluta, voluptatum sed
            fugiat itaque
            molestiae ipsam exercitationem quis repudiandae voluptate autem enim et aliquam
            neque iusto
            aspernatur est eum velit ut. Itaque officia nobis nihil ratione hic blanditiis
            dolor asperiores
            animi tenetur eum tempore iste iure, facere similique deleniti commodi dolore
            iusto ducimus labore
            quibusdam perspiciatis eveniet. Unde dolore illum modi distinctio maxime omnis
            obcaecati
            voluptatibus!</p>
    </div>
</div>