.mat-drawer-container {
  height: 100vh;
  background-color: orange;
  overflow: auto;
}

// .mat-sidenav-container mat-toolbar {
//   display: block;
// }

.sidenav {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-sidenav-content {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }