<div class="dialog-header">
    <h2 mat-dialog-title class="dialog-title">Edit post</h2>
    <button mat-icon-button class="dialog-close-btn" type="button" (click)="handleDialogClose(editedPost.value)">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-divider></mat-divider>

<form [formGroup]="editedPost" (ngSubmit)="handlePostEdit(editedPost.value)">
    <mat-dialog-content class="dialog-content">
        <a mat-dialog-close [routerLink]="'/profile/'+data.userId" class="user-info">
            <img mat-card-avatar src="../../../assets/images/man.svg" alt="avatar">
            <strong class="username">{{(user$ | async)?.name}}</strong>
        </a>
        <mat-form-field appearance="fill" class="form-card-field">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="What's your post about?" type="text" name="title"
                id="title" autocomplete="off" maxlength="100" cdkFocusInitial>
            <mat-error *ngIf="editedPost.get('title')?.hasError('required')">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-card-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="body" placeholder="Say somthing..." name="description"
                autocomplete="off" rows="12"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-flat-button class="form-card-button spinner-button" type="submit" color="primary"
            [disabled]="editedPost.invalid || (editedPost.get('title')?.value === data.title&&editedPost.get('body')?.value === data.body)||loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
            <span *ngIf="!loading">Save</span>
            <span *ngIf="loading">Saving...</span>
        </button>
    </mat-dialog-actions>
</form>