.home-content {
    flex-grow: 1;
}

.home-container {
    display: flex;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader span {
    margin: 0 10px;
}

.mat-progress-spinner {
    height: 30px !important;
    width: 30px !important;
}