<mat-card class="post-card">
    <mat-card-content class="card-content">
        <img mat-card-avatar src="../../../../assets/images/man.svg" alt="avatar">
        <button mat-flat-button type="button" color="accent" class="open-dialog-button"
            (click)="openPostDialog()">What's on
            your mind?</button>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer class="card-footer">
        <button mat-button type="button">
            <mat-icon>videocam</mat-icon>
            Live
        </button>
        <button mat-button type="button">
            <mat-icon>photo_library</mat-icon>
            Photo/video
        </button>
        <button mat-button type="button">
            <mat-icon>sentiment_very_satisfied</mat-icon>
            Feeling/activity
        </button>
    </mat-card-footer>
</mat-card>