<div class="comment-container" [id]="'comment-'+comment.id">
    <div class="comment">
        <div mat-card-avatar class="avatar"></div>
        <div class="comment-bubble">
            <span><strong>User's name</strong></span>
            <p>{{comment.body}}</p>
        </div>
        <button mat-icon-button matTooltip="Actions" matTooltipPosition="right" type="button" aria-hidden="true"
            class="menu-button" [matMenuTriggerFor]="commentMenu">
            <mat-icon>more_horiz</mat-icon>
        </button>
    </div>
    <div class="comment-details">
        <span>{{date|date}}</span>
    </div>
</div>

<!-- Comment menu -->
<mat-menu #commentMenu="matMenu" [id]="'menu-comment-'+comment.id">
    <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
    </button>
    <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
</mat-menu>