<div class="main-container">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="form-card">
        <mat-card class="example-card">
            <mat-card-title class="form-card-title">Welcome Back!</mat-card-title>
            <mat-card-subtitle class="form-card-subtitle">Please enter your login credentials</mat-card-subtitle>
            <mat-card-content>
                <mat-form-field appearance="fill" class="form-card-field"
                    [ngClass]="{'shake': loginForm.get('username')?.invalid&&loginForm.controls['username'].touched}">
                    <mat-label>Username or email</mat-label>
                    <input matInput formControlName="username" type="text" name="username" id="username"
                        autocomplete="username">
                    <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username or email
                        required</mat-error>
                    <mat-error *ngIf="loginForm.get('username')?.hasError('incorrect')">Invalid user</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-card-field"
                    [ngClass]="{'shake': loginForm.get('password')?.invalid&&loginForm.controls['password'].touched}">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="pswHide?'password':'text'" name="password"
                        id="password" autocomplete="off">
                    <button mat-icon-button type="button" matSuffix (click)="pswHide = !pswHide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pswHide" [tabIndex]="-1">
                        <mat-icon>{{pswHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        Password required
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('incorrect')">
                        Invalid password
                    </mat-error>
                </mat-form-field>
                <mat-checkbox formControlName="savePassword" color="primary">Remember me</mat-checkbox>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class="form-card-button" type="submit" color="primary"
                    [disabled]="loginForm.invalid" autofocus>LOGIN</button>
                <mat-divider class="divider"></mat-divider>
                <p class="form-card-subtitle">Doesn't have an account? <a mat-button href="#" [tabIndex]="-2">sign
                        up</a></p>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </form>
</div>