.main-container {
  background-image: url("../../../assets/images/BackgroundPattern.svg");
  width: 100vw;
  height: 100vh;
}

form {
  transform: translate(0, 50px);

  .form-backdrop {
    bottom: 4.5px;
    background: rgba(255, 255, 255, 0.5);
  }
}

.divider {
  position: static !important;
  margin: 30px auto !important;
  margin-bottom: 5px !important;
  width: 90% !important;
}

.mat-card-actions {
  margin: 0;
}