<div class="right-sidenav sidenav-scroll">
    <aside>
        <div class="sidenav-content">
            <mat-nav-list>
                <div class="sidenav-title">
                    <h2>Some content</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias enim recusandae
                        illo laboriosam
                        corrupti mollitia repudiandae? Cumque et nostrum molestias cupiditate voluptatem
                        sapiente accusamus
                        quisquam sed obcaecati eaque reiciendis culpa esse dolores fugiat ea, similique
                        quas, deserunt
                        consectetur voluptatum dolorem iste!</p>
                </div>
                <mat-divider></mat-divider>
                <div class="sidenav-title">
                    <h2>Favorites</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias enim recusandae
                        illo laboriosam
                        corrupti mollitia repudiandae? Cumque et nostrum molestias cupiditate voluptatem
                        sapiente accusamus
                        quisquam sed obcaecati eaque reiciendis culpa esse dolores fugiat ea, similique
                        quas, deserunt
                        consectetur voluptatum dolorem iste!</p>
                </div>
            </mat-nav-list>
        </div>
    </aside>

</div>