<div class="available-comments">
    <ng-container *ngIf="!loadingComments&&comments.length>0">
        <!-- render only one comment initially -->
        <app-comment [comment]="comments[0]" (editEvent)="renderEditedComment($event)"
            (deleteEvent)="removeComment($event)"></app-comment>

        <!-- show all comments on button click -->
        <ng-container *ngIf="showAll">
            <app-comment *ngFor="let comment of comments | slice: 1; trackBy: trackById" [comment]="comment"
                (editEvent)="renderEditedComment($event)" (deleteEvent)="removeComment($event)"></app-comment>
        </ng-container>
    </ng-container>
    <p *ngIf="comments.length===0" class="no-comments-text">No comments yet
        <i class="fa-regular fa-comment-exclamation"></i>
    </p>

    <!-- loading placeholder -->
    <div *ngIf="loadingComments" class="loading-placeholder-container">
        <app-loading-placeholder height="30px" width="30px" rounded="50%"></app-loading-placeholder>
        <app-loading-placeholder height="100px" width="300px" rounded="20px"></app-loading-placeholder>
    </div>

    <!-- button to toggle all comments show -->
    <button *ngIf="!loadingComments&&comments.length>1" mat-button type="button" class="comments-toggle-button"
        (click)="toggleCommentsShow()">{{showAll?'Show less...':'Show all...'}}</button>
</div>