.user-avatar {
    background-image: url("../../../assets/images/man.svg");
    background-size: cover;
    border: 1px solid gray;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.post-menu-button {
    flex-grow: 1;
    text-align: right;
}

.comment-section {
    form {
        margin-top: 20px;
    }

    .available-comments {
        height: auto;
        max-height: 300px;
        overflow-y: auto;

        .comments-toggle-button {
            margin-left: 24px;
        }
    }
}

::ng-deep .mat-form-field {
    width: 100%;

    .mat-form-field-wrapper {
        padding: 0;

        .mat-form-field-flex {
            border-radius: 20px !important;
            padding-top: 0 !important;

            .mat-form-field-infix {
                padding-bottom: 5px;
            }
        }

        .mat-form-field-underline {
            display: none;
        }
    }
}

.comment-actions-container {
    display: none;
    align-items: center;
    justify-content: space-between;

    button {
        height: 30px;
        width: 30px;
        line-height: 30px;

        .mat-icon {
            margin-left: 4px;
        }
    }

    .action-icons {
        .mat-icon {
            font-size: 18px;
            margin: 0 3px;
            cursor: pointer;
        }
    }
}