<div class="container">
    <mat-card class="actions-toolbar">
        <mat-card-header>
            <mat-card-title>All users</mat-card-title>
            <mat-card-subtitle>Click on user's name to get details</mat-card-subtitle>
            <!-- <p>Aavailable users</p> -->
            <button mat-flat-button type="button" color="primary" (click)="openAddDialog()">
                <mat-icon>add</mat-icon> Add user
            </button>
        </mat-card-header>
    </mat-card>
    <mat-card *ngIf="dataSource.length>0" class="table-card">
        <mat-card-content>
            <table *ngIf="!loading" mat-table [dataSource]="dataSource" class="">

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> <strong>Id</strong> </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> <strong>Full name</strong> </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="'/profile/'+element.id">{{element.name}}</a>
                    </td>
                </ng-container>

                <!-- Username Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> <strong>Username</strong> </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> <strong>Email</strong> </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> <strong>Actions</strong> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button class="button-gray" matTooltip="edit user"
                            (click)="openEditDialog(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="button-red" matTooltip="delete user"
                            (click)="deleteUser(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <h1 *ngIf="dataSource.length===0" class="no-users">No users available</h1>
</div>