.sidenav-container {
  height: 100vh;
  z-index: 10;
}

.sidenav {
  width: 250px;
  padding-top: 64px;
  z-index: 30;
  border: none;
}

.sidenav .sidenav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.sidenav-header .sidenav-title {
  display: inline-block;
  margin: 0;
}

.divider {
  margin: 10px 20px;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  background-color: white;
  z-index: 20;
}

button[mat-icon-button] {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

mat-icon {
  font-size: 24px;
}

@media only screen and (max-width: 599px) {
  .sidenav {
    padding-top: 56px;
  }
}
