.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  padding-top: 64px;
  z-index: 1;
  border: none;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  background-color: white;
  z-index: 1;
}

@media only screen and (max-width: 599px) {
  .sidenav {
    padding-top: 56px;
  }
}
