<app-navbar [leftSidenav]="leftSidenav"></app-navbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="isHandset$|async" #leftDrawer [attr.role]="'dialog'" [mode]="'over'" [opened]="false"
        class="sidenav-scroll">
        <app-sidenav-content></app-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidenav-content">
            <div class="main">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>