.mat-sidenav-container {
    top: 56px;
    height: calc(100vh - 56px);
}

.main {
    display: flex;
    min-height: 100%;
}

.sidenav {
    width: 320px;
    height: calc(100vh - 56px);
    overflow-y: auto;
    background-color: white;
    position: sticky;
    top: 0;
    transition: all 1;
}

.sidenav::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.sidenav::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
    visibility: hidden;
}

.sidenav:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.sidenav::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.10);
}

.component-view {
    flex: 1;
}