// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fakebook-social-app-primary: mat.define-palette(mat.$teal-palette);
$fakebook-social-app-accent: mat.define-palette(mat.$grey-palette,
    A200,
    A100,
    A400);

// The warn palette is optional (defaults to red).
$fakebook-social-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fakebook-social-app-theme: mat.define-light-theme((color: (primary: $fakebook-social-app-primary,
        accent: $fakebook-social-app-accent,
        warn: $fakebook-social-app-warn,
      ),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fakebook-social-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
}

body {
  display: block;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(247, 255, 255);
  // background-color: red;
}

a {
  color: black;
  text-decoration: none;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}

.shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

// Form cards styles
.form-card {
  width: 100%;
  max-width: 400px;
  /* Default max width */
  margin: 0 auto;
  /* Center the form */
}

.form-card-button,
.form-card-field {
  width: 100%;
}

.form-card-field {
  margin: 5px 0;
}

.form-card-title,
.form-card-subtitle {
  text-align: center;
}

textarea {
  resize: none !important;
}

.mat-snack-bar-container {
  &.default {
    background: #323232 !important;
    color: #fff !important;
  }

  &.success {
    background: #4caf50 !important;
    color: #fff !important;
  }

  &.error {
    background: #f44336 !important;
    color: #fff !important;
  }

  &.warning {
    background: #ff9800 !important;
    color: #fff !important;
  }
}

.post-card {
  margin: 30px auto;
  width: auto;
  max-width: 450px;
}

.mat-tab-header {
  border: none;
}

.mat-tab-label-active {
  color: teal;
}

.mat-tab-label {
  height: 56px !important;
  min-width: 130px !important;
  padding: 0 !important;
  opacity: 1 !important;
}

.mat-progress-spinner svg {
  height: inherit !important;
  width: inherit !important;
}

.spinner-button-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-button-label span {
  margin: 0 10px;
}

.main *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.main *::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 30px;
  visibility: hidden;
}

.main *:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.mat-ink-bar {
  visibility: hidden !important;
}

.avatar {
  background-size: cover;
  border: 1px solid gray;
  border-radius: 50%;
}

.user-avatar {
  background-image: url('./assets/images/man.png');
}

.post-avatar {
  background-image: url('./assets/images/man2.svg');
}

.comment-avatar {
  background-image: url('./assets/images/woman.svg');
  height: 30px !important;
  width: 30px !important;
}

input::placeholder {
  font-style: italic;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-progress-spinner {
    height: 30px !important;
    width: 30px !important;
  }

  span {
    margin: 0 10px;
  }
}